<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HTTPortable.Core" version="1.0.6-alpha1" targetFramework="net452" />
  <package id="HTTPortable.Grammar" version="1.0.5-alpha1" targetFramework="net452" />
  <package id="SLANG" version="1.0.143-alpha1" targetFramework="net452" />
  <package id="Uri.Grammar" version="1.0.4-alpha1" targetFramework="net452" />
</packages>