<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <add key="SLANG" value="https://ci.appveyor.com/nuget/text-parser-dh6sunv5adxh" />
	<add key="HTTPortable" value="https://ci.appveyor.com/nuget/httportable-ja1uk3n7spru" />
	<add key="stevenliekens-m9ur1rencc5t" value="https://ci.appveyor.com/nuget/stevenliekens-m9ur1rencc5t" />
	<add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
	<add key="stevenliekens-m9ur1rencc5t" value="true" />
  </disabledPackageSources>
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
</configuration>
